
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>Chat Room</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="assets/css/main.css" />
  <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
  <body>
      <a href="users" <button class="button fit"> <class="button">  Dashboard </button> </a>
      <a href="chats" <button class="button fit"> <class="button">  Your Chats </button> </a>
    <form method="post">
      <div class="table-wrapper">
        <table class="alt" id="msgTable">
          <tbody>
          </tbody>
        </table>
      </div>
      <script type="text/javascript">
        let msgs = {{messages}}
        table1 = document.querySelector('#msgTable')
        for (let msgIndex in msgs) {
          let row = table1.insertRow()
          if (msgs[msgIndex].sendTo == urlParams.get('id')){
            let cell = row.insertCell()
            cell.innerHTML = ""
            let cell2 = row.insertCell()
            cell2.innerHTML = msgs[msgIndex].msg
          } else {
            let cell = row.insertCell()
            cell.innerHTML = msgs[msgIndex].msg
            let cell2 = row.insertCell()
            cell2.innerHTML = ""
          }
        }
      </script>
      <input id="chatText" name="chatText" type="text">
      <input value="Send"  type="submit">
    </form>


    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/chat.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
